body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

h1 {
    color: darkblue;
}

p {
    color: darkgreen;
}

/* Add a transition to smoothly animate the font size change */
.hover-text {
  transition: font-size 0.3s ease-in-out;
  font-size: 16px;
}

/* Increase the font size on hover */
.hover-text:hover {
  font-size: 24px;
}

.menu-container {
  position: relative;
  display: inline-block;
}

.menu-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.main-menu {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  white-space: nowrap;
}

.menu-container:hover .main-menu {
  max-height: 200px; /* Adjust the height according to your menu content */
}
